@media (min-width: 1305px) { 
    .column-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .column-3 {
        grid-column: 3/4;
    }
    .dp-content {
        max-width: 1300px;
        margin: 0 auto;
    }
}
