html {
    background-color: white;
    background-color: #EDE6DB;
}  
header {
    color: white;
    background: #417D7A;
    border-radius: 10px;
    text-align: center;
}      
body {
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-weight: 400;
    background-color: white;
    margin: 0 auto;
    font-size: 1rem;    
    line-height: 2rem;
    padding: 0;
}   
.main-page-h1 {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0;
} 
main{   
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
h1{
    font-size: 1.5em;
    text-align:center;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.assignment-list {
    margin-top: 1em;
    margin-left: 2em;
    padding-bottom: .25em;
    border-bottom: 1px solid grey;
    width: 85%;
    display: block;
}
.headshot{
    width: 200px;
    border-radius: 5%;
    filter: drop-shadow(0 0 0.75rem black);
    margin-top: 1em;

    }  
ul {
    margin-left: 3em;
    margin-bottom: 2em;
}
li a:hover {
    color:#FF6363;
}
a:link {
    color: #1A3C40;
}
a:visited {
    color: #1A3C40;
}

/* DESIGN PRINCIPLES DOCUMENT */
.design-principles-h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
}
.assignment-page-name {
    font-weight: 700;
    padding-bottom: 1em;
}
.column-container {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}
.column-container h2 {
    text-align: center;
}
.column {
    border-radius: 20px;
    background-color: #f5e8d4;
    max-width: 410px;
    margin: 0 auto;
}
.column img {
    width: 90%;
}
.column h2 {
    margin-top: 1em;
    text-decoration: underline;
}
.column p {
    padding-left: 5%;
    padding-right: 5%;
}
.principle-image-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.principle-image-info a {
    font-size: 1.25em;
    margin-bottom: 1em;
    text-decoration: none;
}
.principle-image-info a:hover{
    color:#FF6363;
}



/* FOOTER */
footer {
    background: #417D7A;
    border-radius: 10px;
    padding-top: .12em;
    padding-bottom: .12em;
    margin-left: .25em;
    margin-right: .25em;
}
.copyright {
    color: white;
    text-align: center;
}
.copyright a:link {
    color: white;
}
.copyright a:visited {
    color: white;
}
.copyright a:hover {
    color:#FF6363;
}
.footer-updated {
    color: white;
    text-align: center;
    }