html {
    background-color: #EDE6DB;

}  
header {
    color: white;
    background: #417D7A;
    text-align: center;
}
#content {
    max-width: 1300px;
    margin: 0 auto;
}
body {
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;    
    line-height: 2rem;
    padding: 0;
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
}   
.main-page-h1 {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0;
} 
main{   
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
h1{
    font-size: 1.5em;
    text-align:center;
    margin-top: 0;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.assignment-list {
    margin-top: 1em;
    margin-left: 2em;
    padding-bottom: .25em;
    border-bottom: 1px solid grey;
    width: 85%;
    display: block;
}
.headshot{
    width: 200px;
    border-radius: 5%;
    filter: drop-shadow(0 0 0.75rem black);
    margin-top: 1em;

    }  
ul {
    margin-left: 3em;
    margin-bottom: 2em;
}
li a:hover {
    color:#FF6363;
}
a:link {
    color: #1A3C40;
}
a:visited {
    color: #1A3C40;
}

/* NAV */
nav a:link {
    color: white;
}
nav a:visited {
    color: white;
}
nav ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #1A3C40; 
	} 
nav ul li {  
	display: block; 
    color: white;
	} 
nav ul li a { 
	text-decoration: none; 
	padding: .2em 1.5em; 
    padding-bottom: .4em;
	color: #fff; 
	background-color: #1A3C40; 
	} 
nav ul li a:hover { 
	color: #1A3C40; 
	background-color: #fff; 
	} 

/* DESIGN PRINCIPLES DOCUMENT */
.design-principles-h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
}
.assignment-page-name {
    font-weight: 700;
    padding-bottom: 1em;
}
.column-container {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}
.column-container h2 {
    text-align: center;
}
.column {
    border-radius: 20px;
    background-color: #f5e8d4;
    max-width: 410px;
    margin: 0 auto;
}
.column img {
    width: 90%;
}
.column h2 {
    margin-top: 1em;
    text-decoration: underline;
}
.column p {
    padding-left: 5%;
    padding-right: 5%;
}
.principle-image-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.principle-image-info a {
    font-size: 1.25em;
    margin-bottom: 1em;
    text-decoration: none;
}
.principle-image-info a:hover{
    color:#FF6363;
}

/* SITE PLAN */
.site-plan-h1 {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.site-plan-top-h2 {
    margin-top: 1em;
}
.site-plan-main {
    text-align: center;
}
.site-plan-main h2 {
    margin-bottom: 2em;
    border-bottom: 1px solid grey;
    width: 100%;
}
.site-plan-main {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.site-plan-headshot {
    border-radius: 20px;
    width: 300px;
}
.colors {
    text-align: center;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}
.color-1 {
    background-color: #495371;
}
.color-2 {
    background-color: #74959A;
}
.color-3 {
    background-color: #98B4AA;
}
.color-4 {
    background-color: #F1E0AC;
}
.site-plan-typography {
    font-family: 'Heebo', Arial, sans-serif;
}
.site-plan-typography h1 {
    text-align: center;
}
.typography-normal {
    font-family: 'Barlow Semi Condensed', Arial, sans-serif;

}

/* FOOTER */
footer {
    background: #417D7A;
    padding-top: .12em;
    padding-bottom: .12em;
}
.copyright {
    color: white;
    text-align: center;
}
.copyright a:link {
    color: white;
}
.copyright a:visited {
    color: white;
}
.copyright a:hover {
    color:#FF6363;
}
.footer-updated {
    color: white;
    text-align: center;
    }