main {
    display: grid;
    grid-template-columns: 1fr;
    }

h1 {
    grid-row: 1/2;
    margin: 0 auto; 
    }

picture {
    margin: 0 auto;
    }

.meme1 {
    grid-row: 2/3;
    }

.meme2 {
    grid-row: 3/4;
    }

.meme3 {
    grid-row: 4/5;
    }

.meme4 {
    grid-row: 5/6;
    }

.meme5 {
    grid-row: 6/7;
    }

.meme6 {
    grid-row: 7/8;
    }