@media (min-width: 1305px) { 
    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
	nav{
		max-width: 1300px;
	}
    .logo {
		max-width: 1300px;
	}
}
