@media (min-width: 1000px) { 
    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
	nav{
		max-width: 1300px;
	}
    .logo {
		max-width: 1300px;
	}
	.hero-container{
		margin-bottom: 20px;
		height: 350px;
	   }
	.preston-weather {
		   transform: translate(0px, 70px);
		   margin-left: 0;
		   margin-right: 0;
		   width: 400px;
	   }
	.preston-weather h3 {
		font-size: 1.5em;;
	}
	.preston-weather p {
		   font-size: 1.2em;;
	   }
	   .flex-forecast {
		max-width: 800px;

	}
	.preston-article img {
		max-width: 400px;
	}
	.map-img img {
		height: 250px;
	}
	.map-img {
		margin-top: 1.5em;
	}
}
