/* FONT CHOICE: HEEBO */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700;900&display=swap');

:root {

    --primary-color: #74959A;
    --secondary-color: #F1E0AC;
    --accent1-color: #98B4AA;
    --accent2-color: #495371;
    
    --site-font: 'Heebo', Arial, sans-serif;
  
    --headline-color-on-white: #46494C;
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #46494C;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #4C5C68;
    --nav-link-color: #DCDCDD;
    --nav-background-color: #4C5C68;
    --nav-hover-link-color: #4C5C68;
    --nav-hover-background-color: #DCDCDD;
}

html {
    background-color: #d8d8d8;
	font-family: var(--site-font);

}  
#content {
    max-width: 1300;
    margin: 0 auto;
}
body {
    font-size: 1rem;    
    line-height: 2rem;
    padding: 0;
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER START */

.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
header {
	background-color: #74959A ;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: .5em;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 0;
}
.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
	margin-bottom: 0;
	margin-top: 0;
	color: white;
}

.m {
	letter-spacing: 1pt;
	color: white;
	font-weight: 700;
	font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}
main {
	margin-bottom: 2em;
}
/* HEADER END */

/* NAV START */
/* Small/Phone View ***************/ 
nav {
	margin: 0 auto;
	background-color: #98B4AA ;
}
.navigation {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "☰ ";
}

.navigation a:hover {
	color: black;
	background-color: #F1E0AC  ;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "✖ ";
}


/* NAV END */

/* PRESTON PAGE START */

.page-title {
	text-align: center;
}
.contentbox {
	background-color: #DCDCDD;
	margin: .25em 2em .25em 2em;
	border: 1px dotted grey;
	padding-left: 1em;
}

/* PRESTON PAGE END */

/* FOOTER START*/

footer {
    background: #74959A;
    padding-top: .12em;
    padding-bottom: .12em;
}
.copyright {
    color: white;
    text-align: center;
	margin-bottom: 0;
}
.copyright a:link {
    color: white;
}
.copyright a:visited {
    color: white;
}
.copyright a:hover {
    color:#495371;
}
.footer-updated {
    color: white;
    text-align: center;
	margin-top:0;
    }

/* FOOTER END */