@media (min-width: 1000px) { 
    header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
	nav{
		max-width: 1300px;
	}
    .logo {
		max-width: 1300px;
	}
	.hero-container{
		margin-bottom: 20px;
		height: 350px;
	   }
	.preston-weather {
		   width: 400px;
	   }
	.medium, .small{
		display: none;
	}
	.large {
		display: block;
	}
	.preston-weather h3 {
		font-size: 1.5em;;
	}
	.preston-weather p {
		   font-size: 1.2em;;
	   }
	   .flex-forecast {
		max-width: 800px;

	}
	.preston-article img {
		max-width: 400px;
	}
	.map-img img {
		height: 250px;
	}
	.map-img {
		margin-top: 1.5em;
	}
	.hero-container{
		height: 485px;
	}
	/* GALLERY PAGE START */
	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
		margin-left: 0;
		margin-right: 0;
	}
	.gallery-description {
		display: block;
	}
	section :nth-child(1) .weather{
		grid-row: 3/4;
		grid-column: 1/2;
	}
	section :nth-child(2) .weather{
		grid-row: 3/4;
		grid-column: 2/3;
	}
	section :nth-child(3) .weather{
		grid-row: 3/4;
		grid-column: 3/4;
	}
	section :nth-child(4) .weather{
		grid-row: 4/5;
		grid-column: 1/2;
	}
	section :nth-child(5) .weather{
		grid-row: 4/5;
		grid-column: 2/3;
	}
	section :nth-child(6) .weather{
		grid-row: 4/5;
		grid-column: 3/4;
	}
	picture:hover {
		box-shadow: 0 0 2em #333333; 
	}
	/* GALLERY PAGE END */
	/* HOME PAGE START */
	article {
		grid-template-columns: 1fr;
		max-width: 100%;
	}

	article:nth-child(odd) .town-info {
		grid-column: 1/2;
		margin-right: 0;
		margin-left: 0;
	}

	article:nth-child(odd) .town-img {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	article .town-info {
		grid-column: 1/3;
		height: 280px;
	}
	article .town-img {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.motto {
		height: 60px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.town-info {
		padding-top: 0px;
		margin-right: 0;
	}
	#town-cards-home article {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
	#town-cards-home article:nth-child(1) {
		grid-column: 1/2;
	}
	#town-cards-home article:nth-child(2) {
		grid-column: 2/3;
	}
	#town-cards-home article:nth-child(3) {
		grid-column: 3/4;
	}
	#town-cards-home article:nth-child(4) {
		grid-column: 1/2;
	}
	#town-cards-home article:nth-child(5) {
		grid-column: 2/3;
	}
	#town-cards-home article:nth-child(6) {
		grid-column: 3/4;
	}
	#town-cards-home article:nth-child(7) {
		grid-column: 1/2;
	}
	/* HOME PAGE END */
}
