/* FONT CHOICE: HEEBO */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700;900&display=swap');
:root {
	--primary-color: #3D5A80;
	--secondary-color: #98C1D9;
	--accent-color-1: #E0FBFC;
	--accent-color-2: #EE6C4D;
	--accent-color-3: #293241;
	--accent-color-4: #F1E0AC;
}
html {
    background-color: #d8d8d8;
	font-family: 'Heebo', Arial, sans-serif;

}  
#content {
    margin: 0 auto;
	background-color: var(--primary-color);
}
body {
    font-size: 1rem;    
    line-height: 2rem;
    padding: 0;
    background-color: white;
    margin: 0 auto;
}
main {
	max-width: 1000px;
	margin: 0 auto;
}
.header-full-width {
	max-width: 1000px;
	margin: 0 auto;
}


/* HEADER START */
.header-and-nav {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color: var(--primary-color);
}
#header-top {
	background-color: var(--primary-color);
	grid-column:1/6;
}
.header-all {
	background-color: var(--primary-color);
}
.header-and-nav {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	max-width: 1000px;
	margin: 0 auto;
}
#header-bottom {
	background-color: var(--accent-color-3);
	grid-column:1/7;
}
.header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: left;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: .5em;
	margin-top: 0;
	
	max-width: 1000px;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 2em;;
}
.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
	margin-bottom: 0;
	margin-top: 0;
	color: white;
}

.m {
	letter-spacing: 1pt;
	color: white;
	font-weight: 700;
	font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* HEADER END */

/* NAV START */

#regular-view {
	display: none;
	grid-column: 1/7;
	text-align: left;
	max-width: 1000px;
}
nav {
	margin: 0 auto;
	background-color: var(--accent-color-3);
	
}
.navigation {
	list-style: none;
	padding: 0;
	margin: 0 0 0 0;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation .current-page {
    background-color: var(--secondary-color);
    color: var(--accent-color-3);
}
.navigation a:hover {
	color: var(--accent-color-3);
	background-color: var(--accent-color-4);
}
.menu-button {
	text-align: center;
	margin-top: 2.2em;
	margin-right: 2em;
	grid-column: 6/7;
	z-index: 10;
}
.menu-button a {
	font-size: 2em;
	text-decoration: none;
	color: white;

}

/* NAV END */


/* PRESTON PAGE START */

#friday-banner {
 background-color: #FFCE45;
 margin-bottom: 0;
 text-align: center;
}
#friday-banner h3 {
	margin-bottom: 0;
	margin-top: 0;
	color: var(--accent-color-3);
}

.page-title {
	text-align: center;
}

.hero-container picture {
	position: relative;
	overflow:hidden;
	top: -37px;

}
/*HERO WEATHER INFO START*/
.large, .medium{
	display: none;
}
.picture-size-desc {
	z-index: 10;
	position: relative;
	text-align: right;
	top: 20px;
	right: 20px;
	color: var(--accent-color-4);
}
picture img {
	overflow: hidden;
}
.weather-summary-container {
	position: relative;
	top: -14px;
}
.preston-weather {
	/*transform: translate(0px, 280px);*/
	margin-top: 2em;
	margin: 0 auto;
	width: 300px;
}
.preston-weather-summary {
	z-index: 1;
	max-width: 315px;	
	background-color: rgb(238, 108, 77);
	border-radius: 15px;
	display: grid;
	grid-gap: .5em;
	grid-template-columns: 1fr 1fr;
}
.preston-weather-summary p {
	margin-top: 0;
	margin-bottom: 0;
}
.preston-weather-info-title {
	color: var(--accent-color-3);
	grid-column: 1/3;
	text-align: center;
	border-bottom: solid 1px var(--accent-color-3);
	margin-left: 1em;
	margin-right: 1em;
}
.preston-weather-info-title h3 {
	margin-top: .25em;
	margin-bottom: 0;
}
.preston-weather-info-left {
	text-align: right;
	color: var(--accent-color-1);
}
.preston-weather-info-right {
	text-align: left;
	color: var(--accent-color-1);
}
.preston-weather-info-left :nth-child(5), .preston-weather-info-right :nth-child(5) {
	margin-bottom: .25em;
}
/*HERO WEATHER INFO END*/

.forecast {
	display: none;
}

.preston-article {
	margin-left: 2em;
	margin-right: 2em;
}
.preston-article h3 {
	text-align: center;
}
.article-img-container{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.text-wrap img {
	border-radius: 10px;
	width: 100%
}
.preston-article p {
	text-align: left;
}
.contact {
	background-color: var(--accent-color-3);
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}
.map-img {
	display: none;
}
.contact-info {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 2em;
	color: white;
}
.contact-info p {
	margin-top: 0;
	margin-bottom: 0;
}
.contact-info .address-bottom, .fa-envelope {
	margin-bottom: 1.5em;
}
.contact-info h4 {
	margin-bottom: 0;
}
.fa-location-dot {
	color:#EE6C4D;
}
.fa-phone, .fa-envelope {
	color: #E0FBFC
}
.fa-brands {
	margin-right: .5em;
}
.fa-facebook {
	color: #1778F2;
}
.fa-pinterest {
	color: #F0002A;
}
.fa-twitter {
	color: #1DA1F2;
}
.fa-whatsapp {
	color: #25D366;
}
/* PRESTON PAGE END */

/* GALLERY PAGE START */
.gallery {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
	grid-gap: 2em;
}
.gallery picture {
	margin: 0 auto;
	transition: box-shadow .3s;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 5px 2em #b1b1b1;
}
.gallery img {
	max-width: 100%;
}
.gallery-description {
	width: 100%;
	display: none;
	color: #3a3a3a;
	text-align: center;
}
section :nth-child(1) .weather{
	grid-row: 3/4;
}
section :nth-child(2) .weather{
	grid-row: 4/5;
}
section :nth-child(3) .weather{
	grid-row: 5/6;
}
section :nth-child(4) .weather{
	grid-row: 6/7;
}
section :nth-child(5) .weather{
	grid-row: 7/8;
}
section :nth-child(6) .weather{
	grid-row: 8/9;
}
img[data-src] {
	filter: blur(0.2em);
}
	
img {
filter: blur(0em);
transition: filter .6s;
}

/* GALLERY PAGE END */
/* STORM CENTER START */
form h2 {
	margin-bottom: 0;
}
form p {
	margin-top: 0;
	margin-bottom: 0;
}
.storm-center-title {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}
.storm-center-title-main {
	width: 80%;
	margin: 0 auto;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 1em;
}
.form-top-h2 {
	margin-top: 0;
}
form { 
	display: table;
	margin: 0 auto;
	margin-bottom: 2em;
	background-color: var(--secondary-color);
	padding: 1em 1em 1em 1em;
	border-radius: 10px;
	box-shadow: 0px 5px 2em #b1b1b1;
}
form p {
	display: table-row;
}
label {
	display: table-cell;
	padding-right: 2em;
}
input {
	display: table-cell;
}
form .radio-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	margin-bottom: 1em;
}
form .radio-buttons label {
	padding-right: 0;
}
form .radio-one label {
	padding-left: 2.27em;
}
form .radio-two label {
	padding-left: 1.5em;
}
form .radio-three label {
	padding-left: 2.45em;
}
form .storm-type {
	width: 137px;
}
form textarea {
	width: 295px;
}
.submit-button {
	margin: auto;
	display: block;
}


/* STORM CENTER END */

/* THANKS PAGE START */
.thanks-main {
	height: 400px;
}
.main-title, .thanks-message {
	text-align: center;
}
.main-title {
	margin-top: 3em;
}
/* THANKS PAGE END */

/* HOME PAGE START */
.main-page-title {
	text-align: center;
	border-bottom: 1px solid black;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1em;
}

#town-cards-home article{
	background-color: var(--accent-color-4);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5em;
	padding-bottom: .25em;
	border-radius: 15px;
	max-width: 410px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1em;
}
#town-cards-home img {
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 5px 1em #595959;
}
#town-cards-home h2 {
	margin-top: 0;
	margin-bottom: 0;
}
/* HOME PAGE END */

/* FOOTER START*/

footer {
    background: var(--primary-color);
    padding-top: .12em;
    padding-bottom: .12em;
}
.copyright {
    color: white;
    text-align: center;
	margin-bottom: 0;
}
.copyright a:link {
    color: white;
}
.copyright a:visited {
    color: white;
}
.copyright a:hover {
    color:var(--accent-color-2);
}
.footer-updated {
    color: white;
    text-align: center;
	margin-top:0;
    }

/* FOOTER END */