@media (min-width: 1000px) { 
	nav {
		max-width: 1300px;
	}
    .logo {
		max-width: 1300px;
	}
	/* HOME PAGE START*/
	/* main-hero SECTION START */
	.main-hero {
		height: 400px;
	}
	.flex-forecast {
		max-width: 800px;
	}
	.rental-gallery {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.maps {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 2em;
	}
	.maps h2 {
		grid-column: 1/3;
	}
}
