@media (min-width: 590px) { 
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}

	.hero-container{
		margin-bottom: 20px;

		width: 100%;
		height: 385px;
	   }
	.hero-container picture {
		top: -35px;
	}
	.large, .small{
		display: none;
	}
	.picture-size-desc {
		position: relative;
		top: 5px;
		right: 20px;
	}
	.medium {
		display: block;
	}
	.weather-summary-container {
		margin-top: 0;
		top: 270px;
		position: absolute;
	}
	.preston-weather {
		   width: 300px;
	   }
	.preston-weather-summary {
		   margin-left: 2em;
	   }
	.menu-button {
		display: none;
	}

	#regular-view {
		display: block !important;
		grid-row: 2/3;
		grid-column: 1/7;
		width: 100%;
	}
	.preston-weather-summary {
		background-color: rgba(238, 108, 77, .9);

	}
	/*FORECAST TABLE START*/
	.forecast {
		display: block;
		text-align: center;
	}
	.flex-forecast {
		display: flex;
		flex-flow: row wrap;
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 2em;;
	}
	.flex-col {
		flex: 1 1 auto;
		background-color: var(--secondary-color);
	}
	.flex-col, .column-col, .grid-col {
		border-bottom: 1px solid var(--accent-color-3);
		border-left: 1px solid var(--accent-color-3);
		border-right: 1px solid var(--accent-color-3);
		text-align: center;
	}
	.col-head {
		display: block;
		padding: 5px;
		border-bottom: 1px solid var(--accent-color-3);
		text-align: center;
	}
	.forecast img {
		border-radius: 100%;
		padding: 0.25rem;
		margin-top: .5em;
	}
	.data {
		display: block;
		padding: 0 5px 5px;
		font-weight: 700;
		text-align: center;
	}
	.col-head,th {
		font-weight: 700;
		font-size: 1rem;
		background-color: var(--primary-color);
		color: white;
	}
	/*FORECAST TABLE END*/
	/*ARTICLE PARAGRAPH*/
	.preston-article {
		margin-left: 2em;
		margin-right: 2em;
	}
	.preston-article img {
		float: right; 
		margin-left: 1em;
		max-width: 300px;
	}
	.preston-article p {
		text-align: left;
	}
	.article-img-container{
		display: block;
		  justify-content: center;
		  align-items: center;
	}
	/*ARTICLE PARAGRAPH END*/
	.contact {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 1em;
	}
	.contact-info {
		grid-column: 4/7;
		margin-left: 1em;
	}
	.map-img {
		display: flex;
  		justify-content: center;
		margin-top: 3.4em;
		grid-column: 2/4;
	}
	.map-img iframe {
		height: 200px;
		width: 200px;
	}

	/* GALLERY PAGE START */
	.gallery {
		grid-template-columns: 1fr 1fr;
	}
	picture {
		margin: 0 auto;
	}
	section :nth-child(1) .weather{
		grid-row: 3/4;
		grid-column: 1/2;
	}
	section :nth-child(2) .weather{
		grid-row: 3/4;
		grid-column: 2/3;
	}
	section :nth-child(3) .weather{
		grid-row: 4/5;
		grid-column: 1/2;
	}
	section :nth-child(4) .weather{
		grid-row: 4/5;
		grid-column: 2/3;
	}
	section :nth-child(5) .weather{
		grid-row: 5/6;
		grid-column: 1/2;
	}
	section :nth-child(6) .weather{
		grid-row: 5/6;
		grid-column: 2/3;
	}
	/* GALLERY PAGE END */

	/* STORM CENTER START */
	.storm-center-title-main {
		width: 50%;
	}
	/* STORM CENTER END */

	/* HOME PAGE START */
	#town-cards-home {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em;
	}
	#town-cards-home article {
		max-width: 10000000px;
		margin-bottom: 0;
		margin-right: 1em;
		margin-left: 1em;
	}
	.town-info {
		padding-top: 5%;
		margin-right: 1em;
	}


	article {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 100%;
	}

	article:nth-child(odd) .town-info {
		grid-column: 2/3;
		margin-right: 0;
		margin-left: 1em;
	}

	article:nth-child(odd) .town-img {
		grid-column: 1/2;
		grid-row: 1;
	}	
	#town-cards-home article:nth-child(1) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(2) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(3) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(4) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(5) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(6) {
		grid-column: 1/4;
	}
	#town-cards-home article:nth-child(7) {
		grid-column: 1/4;
		margin-bottom: 2em;
	}
	/* HOME PAGE END */

	/* TOWN EVENTS SECTIONS */
	.town-events {
		margin: 0 auto;
	}
	/* TOWN EVENTS SECTIONS */
}